{
  "dev": {
    "url": "http://localhost:4000",
    "locale": "fr-FR",
    "utcOffset": "120",
    "creatorName": "",
    "creatorId": "f86bd575-6aba-4d83-abd5-756aba9d834b",
    "hwid": "1234567890"
  }
}
