# Machine-specific configuration
/.env.local
/.env.remote

# Toolchain
/node_modules
/.angular/cache

# Build artifacts, temporary files
/halloffame.mongoarchive
/dist

# Test files
/test/http-client.env.json
/test/screenshot-*.jpg
