# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Database connections
/dataSources*
# Biome plugin preferences (ie. enable format-on-save)
/biome.xml
# Bun preferences (contains machine-specific config)
/bun.xml
# Typescript preferences (can contain machine-specific config like Node's path)
/compiler.xml
# Developer Tools plugin preferences
/developer-tools.xml
